/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container stili */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); /* Arka planın daha okunabilir olması için */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20px 0;
    /* Sabit yükseklik ve kaydırma */
    height: 800px;  /* Sabit yükseklik */
    max-height: 800px;  /* Yüksekliği aşarsa kaydırma eklenecek */
    overflow-y: auto;  /* Dikey kaydırma çubuğu eklenir */
}

/* Başlık stili */
h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Tablo stili */
#scoreTable {
    width: 100%;
    border-collapse: collapse;
}

#scoreTable th, #scoreTable td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}

#scoreTable tr {
    background-color: #f70202; /* Varsayılan arka plan rengi */
    color: #000000;
}

#scoreTable .first-place {
    background-color: #055205; /* 1. olanın arka plan rengi: yeşil */
}

#scoreTable .second-place {
    background-color: #ffff00; /* 2. olanın arka plan rengi: sarı */
    color: #000000;
}

/* Buton stili */
button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;  /* Buton boyutu küçültüldü */
    font-size: 14px;    /* Font boyutu küçültüldü */
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 120px;   /* Buton genişliği küçültüldü */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

/* Media Queries ile responsive tasarım */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    #scoreTable td, #scoreTable th {
        padding: 8px;
    }

    button {
        padding: 7px 14px;
        font-size: 12px;
        max-width: 110px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    #scoreTable td, #scoreTable th {
        padding: 6px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
        max-width: 100px;
    }
}
